/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
html, body{
  height: 100%;
}
.custom-tool-bar{
  --background: linear-gradient(45deg, #315cad, #5b9aad);;
  --color: white;
  position: fixed;
  height: 65px;
  display: flex;
  justify-content: left;
  align-items: center;
}
ion-title{
  font-size: 1.5rem;
  font-weight: bold;
}